h1{
	background-color: #B2D6E2;
	color:white;
	text-align: center;
	height: 100px;
	font-size: 50px;
	font-family: Helvetica;
	clear:both;

}
.table,.highscore{
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	width: 30%;

}

.table{
	float: left;
	margin-left: 15%;
}

.highscore{
	
	float: right;
	margin-right: 15%;
	
}

table{
	margin:auto;
}

tr:nth-child(even){
	background-color: #B2D6E2;
}
tr:nth-child(odd){
	background-color: #FFC3A0;

}